@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
.body {
    background-color: #fff;
    background: #19aa8d;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.navigation{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 26px 20px;
    flex-wrap: wrap;
}
.navigation a{
    color: #111;
}
.instalogo{
    display: flex;
    flex-direction:row;
    justify-content: flex-start; 
    width: 30;
}
.instalogo a{
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    padding-left:10px; 
}
.vl{
  border-left:1.5px solid #111;
  height: 30px;
  margin-left: 20px; 

}
.contacts_icons{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    /* padding-left: 100px; */
}
.contacts_icons a{
 padding-left: 30px;
 font-size: 25px;
 font-weight: lighter;

}
.search_bar{
    display: flex;
    width: 50%;
    justify-content: center;
    border-radius: 1px;
    color: #999;
    cursor: text;
    text-align: center;

}
.search_bar {
    font-size: 15px;
    padding-left: 10px;
}

.content_container{
    background-color: #FAFAFA;
    padding-top: 50px;
    position: absolute;
    width: 100%;
    top: 83px;
    left: 0;
}
.card{
    background-color: #fff;
    margin: 0 auto;
    width: 614px;
    height: auto;
    border: 0.9px solid #ccc;
    border-radius: 5px;
    margin-bottom: 58px;
}
.card_hearder{
    padding:10px;
}
.card_hearder a{
    text-decoration: none;
    color: black;
}
.profile_image{
    display: inline-block;
    background-color: yellow;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border: 0 solid #000000;
    border-radius: 50%;
}
.post_info{
    display: inline-block;
    padding-left: 15px;
}
.post_name{
  font-size: 14px;
  color: #111; 
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.post_location{
    font-size: 12px;
    color: grey;
    padding: 0;
    margin: 0;
}
.post_options{
    font-size: 15px;
    float: right;
    display: inline-block;
    margin: 4px;
    padding: 5px;
    color: #cccccc;
}
.post_image img{
 width: 100%;
 height: 614px;   
}
.engagement{
    display: inline-block;
    width: 100%;
    margin: 4px 0px 0px;
    padding: 0px 16px;
}
.engagement a{
    padding: 7px;
    font-size: 25px;
    color: slategrey;
    font-weight: 600;

}
.fa-bookmark{
    float: right;
    margin-right: 15px;
}
.likes a{
    text-decoration: none;
    font-size: 15px;
    font-weight:500;
    color: #111;
    margin: 0px 0px 8px;
    padding: 0px 21px; 
}
.caption{
    display: inline-block;
    width: 100%;
    padding: 0px 16px;
}
.caption a{
    font-size: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-left: 5px;
    margin-left: -5px;
    padding-right: 5px;

}
.caption span{
    font-size: 14px;
    font-weight:500;
    color: #111;
    display: inline-block;
    margin-right: 16px; 
}
.time_posted{
    font-size: 10px;
    font-weight: 300;
    color: #111;
    padding: 0px 16px;
    text-transform: uppercase;
}
.signup-form h2{
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
}
.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
}
.form-control, .btn {        
    border-radius: 3px;
}
.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}	
.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}
.signup-form input[type="checkbox"] {
    margin-top: 2px;
}   
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d;
    border: none;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #179b81;
    outline: none;
}
.signup-form a {
    color: #fff;	
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #19aa8d;
    text-decoration: none;
}	
.signup-form form a:hover {
    text-decoration: underline;
}
.signup-form .fa {
    font-size: 21px;
}
.signup-form .fa-paper-plane {
    font-size: 18px;
}
.signup-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
    margin-right: 10vh;
}
.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
#form{
    display: flex;
    margin-top: 5%;
    align-content: center;
}
.image{
margin-left: 5%;
}
.store img {
    width: 150px;
    height: 50px;
    margin-left: 60%;

    
}