{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
{% include "navbar.html"%}
   <!-- Card image -->
   <div class="view overlay">
    <img class="card-img-top rounded-0" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5EhKJzFhgIGv0PvBNi0Tx9DKDqeVG_s6gvndcrx-23uz_RKNx&s(7 kB)
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5EhKJzFhgIGv0PvBNi0Tx9DKDqeVG_s6gvndcrx-23uz_RKNx&s
" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body">
    <div class="collapse-content">
      <!-- Text -->
      <p class="card-text collapse" id="collapseContent">Recently, we added several exotic new dishes to our restaurant menu. They come from countries such as Mexico, Argentina, and Spain. Come to us, have some delicious wine and enjoy our juicy meals from around the world.</p>
      <!-- Button -->
      <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
      <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
      <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
      <i class="far fa-comment"></i>
    </div>
  </div>
</div>
<!-- Card -->
{% endblock %}